<form action="/userRegister" method="post">
    <div class="form-control">
        <label for="name">nome do usuário</label>
        <input type="text" name="name" placeholder="digite o nome do usuário">
    </div>
    <div class="form-control">
        <label for="password">senha</label>
        <input type="password" name="password" placeholder="digite a senha">
    </div>
    <div class="form-control">
        <label for="password">confirmar senha</label>
        <input type="password" name="confirmpassword" placeholder="confirme a senha">
    </div>
    <input type="submit" value="cadastrar">
</form>