<div class="container">
  <div class="inventory">
    <h1>ESTOQUE</h1>
    {{#each total}}
    <h2>{{this.total}}</h2>
    {{/each}}
  </div>


  <div class="sales">
    <H1>VENDAS</H1>
  </div>



  <div class="clients">
    <h1>CLIENTES</h1>
  </div>
</div>