<div class="container">
  <div class="inventory">
   <a href="#"><h1>ESTOQUE</h1></a> 
  
  </div>


  <div class="sales">
     <a href="#"><h1>VENDAS</h1></a> 
  </div>



  <div class="clients">
    <a href="#"><h1>CLIENTES</h1></a> 
  </div>
</div>