<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
    <title>Document</title>
</head>

<body>
    <h1 class="h1">Clientes</h1>

<div class="data-table">
     <table id="example" class="display">
        <a href="/register"><button type="button" class="btn">Cadastrar Cliente</button></a>
        <thead>
            <tr class="cabeçalho">
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Compras</th>
                <th>Ações</th>


            </tr>
        </thead>
        <tbody class="body-table">
            <tr>
                <td>Suellen Aparecida</td>
                <td>4005410850404</td>
                <td>su@gmail.com</td>
                <td>38999501514</td>
                <td>ID compras</td>
                <td>
                    <a  href=""><i class='bx bxs-trash-alt'></i></a>
                    <a  href=""><i class='bx bx-edit'></i></a>
                </td>

            </tr>
            <tr>
                <td>teste</td>
                <td>G</td>
                <td>15</td>
                <td>R$500</td>
                <td>R$7500</td>
                <td>
                    <a  href=""><i class='bx bxs-trash-alt'></i></a>
                    <a  href=""><i class='bx bx-edit'></i></a>
                </td>

            </tr>
            <tr>
                <td>model</td>
                <td>G</td>
                <td>15</td>
                <td>R$500</td>
                <td>R$7500</td>
                <td>
                    <a  href=""><i class='bx bxs-trash-alt'></i></a>
                    <a  href=""><i class='bx bx-edit'></i></a>
                </td>

            </tr>

        </tbody>

    </table>
</div>
   
</body>
<script>
    $(document).ready(function () {
        $('#example').DataTable();

    });
</script>

</html>